body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    background: rgb(229,245,245);
    background: linear-gradient(0deg, rgba(229,245,245,1) 0%, rgba(143,249,216,1) 100%);
    color: black;
}

.container-app {
    font-size:1.4em;
    position: relative;
}

.hide{
    display: none;
}
  
.slide1{background-image: url("../img/weather-bg1.jpg");}
.slide2{background-image: url("../img/weather-bg2.jpg");}
.slide3{background-image: url("../img/weather-bg3.jpg");}
.slide4{background-image: url("../img/weather-bg4.jpg");}
.slide5{background-image: url("../img/weather-bg5.jpg");}

.weather-container{
    height: 350px;
    width: 100%;
    padding: 50px;
}
  
.to-do-list-container{
    float: left;
    width: 30%;
    height: 580px;   
    background-color: rgba(244, 249, 255, 0.3);  
    border-radius: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    box-shadow: 5px 5px 10px 10px rgb(69, 93, 122);
}
.to-do-list-container:hover{
    background-color: rgba(244, 249, 255, 0.6); 
}

.covid-tracker-container{
    float: left;
    width: 60%;
    height: 580px;
    position: relative;
}


@media screen and (max-width: 1500px){
    body{
        overflow: auto;
    }
}
@media screen and (max-width: 1000px){
    .to-do-list-container{
        clear: both;
        width: 100%;
    }
    .covid-tracker-container{
        clear: both;
        width: 100%;
    }
}

