body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    background: rgb(255, 255, 255);
    background-color: rgba(224, 200, 212, 1);
    color: black;
}

.container-app {
    font-size:1.4em;
    position: relative;
}

.hide{
    display: none;
}
  
.slide1{background-image: url("../img/weather-bg1.jpg");}
.slide2{background-image: url("../img/weather-bg2.jpg");}
.slide3{background-image: url("../img/weather-bg3.jpg");}
.slide4{background-image: url("../img/weather-bg4.jpg");}
.slide5{background-image: url("../img/weather-bg5.jpg");}

.weather-container{
    height: 300px;
    width: 90%;
    margin: auto;
    padding: 2rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.49);
    background-size: cover;
}
  
.to-do-list-container{
    float: left;
    width: 30%;
    height: 550px;     
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.49);
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.49);
    background-color: rgba(211, 194, 214, 0.8);
}
.to-do-list-container:hover{
    background-color: rgba(211, 194, 214, 0.4); 
}

.covid-tracker-container{
    float: left;
    width: 55%;
    height: 580px;
    position: relative; 
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.49);
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.49);
    background-color: rgba(211, 194, 214, 0.8);
}


@media screen and (max-width: 1500px){
    body{
        overflow: auto;
        overflow-x: hidden;
    }
}
@media screen and (max-width: 1000px){
    .weather-container{
        width: 100%;
        box-shadow: none;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }
    .to-do-list-container{
        clear: both;
        width: 90%;
    }
    .covid-tracker-container{
        clear: both;
        width: 90%;
        box-shadow: none;
    }
}

