.board{
    column-count: 3;
    column-gap: 0.5rem;
    padding: 10px;
    margin-left: 50px;
}

h4{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#inputName{
    width: 150px;
    height: 20px;
    font-size: 1rem;
    font-weight: 300;   
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

img#flag{
    height: 20px;
    width: 20px;
}

.card{
    width: 80%;
    background: #ccc;
    padding: 5%;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    background-color: transparent;
}



.card span{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
}
.card i{
    font-size: 2rem;
}

@media screen and (max-width: 768px){
    .board{
        column-count: 2;
    }
}
@media screen and (max-width: 500px){
    .board{
        column-count: 1;
    }
}